.container-aside {
  width: 320px;
  box-shadow: 10px -50px 130px -80px black;
}

.container-aside__visible {

}

.container-aside__visible {
}
.aside {
  
  &__list {
    display: flex;

    &--right{
      margin-right: 24px;
      margin-left: auto;
    }
  }
}
.aside__header {

}



.button {
  background-color: transparent;
  cursor: pointer;
  &__search {
    padding-top: 24px;
  }
}
.burger__close {
  padding-left: 24px;
  padding-top: 24px;
}
.header__logo {
  display: inline-block;
  padding-top: 16.78px;
  padding-left: 16.78px;
  padding-bottom: 20.76px;
}

.aside__navigation {
  padding: 0 24px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  max-height: 1024px;
}

.aside-navigation__list {
  display: inline-block;
  padding: 0 24px;
  max-height: 1024px;
}
.aside-navigation__item {
  margin-bottom: 12px;
}
.aside-navigation__href {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-family: "TT Lakes-medium", "sans-serif";
  display: inline-block;
  padding: 6px 0;
  color: #1b1c21;
  width: 100%;
}

  .active::before {
    content: url(../img/highlight.svg);
    margin-right: 20px;
    margin-left: -24px;
    position: relative;
    top: 4px;
  }

  .active {
    color: #7e7e82;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    height: 24px;
  }

.aside-bottom {
}
.feedback-navigation {
}
.feedback-navigation__list {
}
.button {
}
.feedback-navigation__button {
}
.contact-information {
}
.contact-information__email {
}
.contact-information__number {
}
.language {
}
.language__item {
}
.language__button {
}
.current {
}
