.page-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 50px;
  text-align: center;
}



.page-footer__text {
  font-family: 'TT Lakes-Regular', 'sans-serif';
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  max-width: 312px;
}

@media (min-width: 768px) {
  
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__text {
    max-width: 218px;
  }
  .page-footer__text:first-child {
    text-align: left;
  }
  .page-footer__text:last-child {
    text-align: right;
  }
}

@media (min-width: 1120px) {
  
  .page-footer__text {
    max-width: 330px;
  }
}