

.transparent-back-BM {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.90;
	z-index: 3;
}

.transparent-back-FB {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.90;
	z-index: 5;
}

.feedback {
	display: none;
}

.feedback-call {
	display: none;
}

.open-menu {
	animation: openMenu 0.8s ease-in-out;
}

@keyframes openMenu {
	from {
		opacity: 0;

	}
	to {
		opacity: 1;
	}
}

.menu-back__open {
	animation: menuBackOpen 0.8s ease-in-out;
}

@keyframes menuBackOpen {
	from {
		opacity: 0;

	}
	to {
		opacity: 0.90;
	}
}

.feedback {
	position: fixed;
	width: 320px;
	height: 100%;
	top: 0;
	left: auto;
	right: 0;
	overflow-y: auto;
	overflow-x: none;
	scrollbar-width: none;
	background: #ffff;
	box-shadow: -44px 5px 41px -4px rgba(41, 42, 43, 0.2);
	z-index: 6;

	&__connection {
		margin: 24px 16px;
		
		&--img {
			margin-top: 10px;
		}

		&--text {
			color: #1B1C21;
			font-family: "TT Lakes-Bold", sans-serif;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: -0.6px;
			padding: 24px 12px 0 12px;
			&::before {
				content: "";
				position: absolute;
				height: 40px;
				width: 4px;
				left: 0;
				background-color: #41F6D7;
				border-radius: 0px 10px 10px 0px;
			}
		}
	}

	&__form {

		display: flex;
		flex-direction: column;
		gap: 10px;
		margin: 16px;

		&--name {
			width: 99%;
			height: 48px;
			border: 1px solid #EAEAEA;
			border-radius: 10px;
			padding-left: 10px;
			&:hover {
				transition: 0.2s;
				border: 1px solid #B8FFEC;
			}
		}
	
		&--phone {
			width: 99%;
			height: 48px;
			border: 1px solid #EAEAEA;
			border-radius: 10px;
			padding-left: 10px;
			&:hover {
				transition: 0.2s;
				border: 1px solid #B8FFEC;
			}
		}
	
		&--email {
			width: 99%;
			height: 48px;
			border: 1px solid #EAEAEA;
			border-radius: 10px;
			padding-left: 10px;
			&:hover {
				transition: 0.2s;
				border: 1px solid #B8FFEC;
			}
		}
	
		&--message {
			width: 99%;
			height: 188px;
			border: 1px solid #EAEAEA;
			border-radius: 10px;
			padding: 10px 10px;
			&:hover {
				transition: 0.2s;
				border: 1px solid #B8FFEC;
			}
		}
	}

	&__send {
		margin-left: 16px;
		margin-bottom: 32px;
		text-align: left;

		&--text {
			padding-bottom: 89px;
			font-family: "TT Lakes-Regular", sans-serif;
			size: 14px;
			height: 16px;
			color: #7E7E82;
		}
		
		&--text-pink {
			color: #FF3E79;
		}

		&--button {
			display: flex;
			align-items: center;
			margin-left: auto;
			margin-right: 16px;
			background-color: #FF3E79;
			width: 136px;
			height: 32px;
			border-radius: 20px;
			&:hover {
				transition: 0.5s;
				transform: scale(0.95);
				box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
			}
		}
		&--button-text {
			font-family: "TT Lakes-Medium", sans-serif;
			position: relative;
			text-transform: uppercase;
			color: #ffff;
			font-size: 12px;
			line-height: 24px;
			letter-spacing: -0.15px;
			font-weight: 700;
			width: 67px;
			left: 12px;
			top: 0px;
			&::after {
				content: "";
				position: absolute;
				border-color: #ffff;
				border-style: solid;
				border-width: 0em 0.2em 0.2em 0em;
				height: 0.5em;
				top: 1.5em;
				left: 6.8em;
				margin-top: -1em;
				transform: rotate(-45deg);
				width: 0.5em;
			}
		}
	}
}

@media (min-width: 1120px) {
	.feedback {
		width: 440px;
		height: 100%;
		border-left: 1px solid #B8FFEC;
		&__connection {
			display: flex;
			align-items: center;
			margin-top: 0;
			margin-left: -4em;
			&--close {
				position: fixed;
				width: 40px;
				height: 40px;
				top: 10px;
				z-index: 8;
			}
			&--text{
				margin-left: 65px;
			}
			&--text::before {
				content: "";
				position: absolute;
				height: 40px;
				width: 4px;
				right: 15.6em;
				left: 0;
				background-color: #41F6D7;
				border-radius: 0px 10px 10px 0px;
			}
		}
		&__form {
			padding-left: 32px;
		}
		&__send {
			padding-left: 32px;
		}
	}
}